<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>控制模块</title>
    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <script src="/lib/jquery-3.2.1.min.js"></script>



    <script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <link href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>

    <script src="../static/lib/vue.js"></script>
    <script src="/lib/vue.js"></script>
</head>
<body>
<div id="app">
    <div>
        <div>my name</div>
        <div>
            <p>输入神秘代码</p>
            <input type="text" v-model="control" placeholder="code" />
        </div>
        <div v-on:click="sendCon">
            发送命令
        </div>
    </div>
</div>
<script src="/js/iotcontroller.js"></script>

</body>
</html>